@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,800;1,200&display=swap');

:root{
    --gradient: linear-gradient(-45deg, #bd34fe 50%, #47caff 50%);
    --dark:black;
}

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    max-width: 60ch;
    margin: auto;
    background-color: var(--dark);
    color: coral;
    font-size: 1.5rem;
}
.p{
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
}

#card{
    max-width: 60ch;
    margin: auto;
    border: 2px solid coral;
    padding: 1rem;
    margin-top: 1rem;
}
.card-dos{
    max-width: 60ch;
    margin: auto;
    border: 2px solid rgb(86, 236, 196);
    color: hotpink;
    padding: 1rem;
    margin-top: 1rem;
}
.pd{
    padding: 2rem;
}

.mt{
    margin-top: 2rem;
}

.b-red{
    background-color: red;
}
.b-yellow{
    background-color: yellow;
}
.b-green{
    background-color:rgb(50, 223, 50);
}

